@import "tailwindcss";

:root {
  /* Evita que el usuario pueda seleccionar texto accidentalmente al tocar botones */
  user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  /* Evita el efecto rebote de Chrome */
  overscroll-behavior-y: contain; 
  /* Asegura que no haya scroll horizontal */
  overflow-x: hidden;
}

/* Ajuste para teléfonos con "Notch" o barras de gestos inferiores */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Hacer que los inputs se vean bien en Android */
input, select, textarea {
  font-size: 16px !important; /* Evita que iOS/Android haga zoom al escribir */
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  color: white;
  padding: 0.75rem;
}